<div class="container">
    <div id="track-header" class="row align-items-center justify-content">
        <div class="col-5">
            <img class="album-img" src={{infoAlbum.image}}>
        </div>
        <div class="col-7  justify-content-center">
            <div class="title-wrapper">
                <h3>{{infoAlbum.name}}</h3>
                <h6><em>{{infoAlbum.artist_name}}</em></h6>
            </div>
        </div>
    </div>
    <div id="track" class="row text-align-center align-items-center">
        {{#each infoAlbum.tracks}}
        <div class="col-2">
            <div class="play-song">
                <p>{{name}}</p>
            </div>
        </div>
        <div class="col-4">
            <div class="play-song">
                <audio controls id="audio-albums" class="audio-details">
                    <source src="{{audio}}">
                </audio>
            </div>
        </div>
        <div class="col-2">
            <div class="play-song">
                <a href="{{audiodownload}}">Descargar</a>
            </div>
        </div>
        <div class="col-4">
            <div class="play-song">
                <form action="/playlist/add-song" method="POST" id="form-container">
                    <select name="playlistId" required>
                        <option value="">---</option>
                        {{#each ../this.playlists}}
                        {{!-- hbs each inside an each --}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <input type="hidden" value="{{this.id}}" name="songId">
                    <input type="submit" value="Añadir a playlist">
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<p id="back-link" onclick="window.history.back()">Atras</p>