<div class="container">
    <div id="track-header" class="row">
        <div class="col-12 d-flex justify-content-between">
            <img src={{infoAlbum.image}} width="100px">
            <h3>{{infoAlbum.name}}</h3>
            <h6><em>{{infoAlbum.artist_name}}</em></h6>

            <div class="d-flex align-items-center">
                <br><br>
            </div>
        </div>
    </div>
    {{#each infoAlbum.tracks}}
    <div id="track" class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <p>{{name}}</p>
            <audio controls id="audio-albums">
                <source src="{{audio}}">
            </audio>
            <a href="{{audiodownload}}">Descargar</a>
        </div>
    </div>
    {{/each}}
</div>
<p id="back-link" onclick="window.history.back()">Atras</p>