<h2>My profile</h2>

<p>{{user.username}}</p>
<br>
<img src="https://robohash.org/{{user._id}}.png?set=set4" alt="avatar">

<h3>My Playlists</h3>
{{#each playlists}}
{{name}} <a href="/playlist/edit/{{id}}">Edit</a>
{{/each}}

<h3>My Favorites Genres</h3>
<a href="/profile/edit">Add my favorite genres</a>
{{#each user.genre as |genre|}}
{{genre}}
{{/each}}
<br>
<a href="/playlist">Create a new Playlist</a>

<a href="/">Página principal</a>