<h2>BUSCA TU MÚSICA</h2>

<div class="form-group">

  <form action="/" method="POST" id="form-container">
    <label for="searchMusic"></label>
    <input type="text" name="search" class="form-control" id="searchMusic" placeholder="Search your music">

    <br>

    <label for="searchGenre"></label>
    <select name="searchGenre" class="form-control" id="searchGenre" placeholder="Search the genre">
      <option value="Search genre">Search genre</option>
      {{#each genres}}
      <option value={{this}}>{{this}}</option>
      {{/each}}
    </select>
    <button type="submit">Buscar</button>
  </form>

  <br><br>

  <br><br>


  {{#if result}}

  {{#each result}}
  <div>
    <a href="/song/{{this.id}}"><img src={{this.image}} width="150px"></a>
    <div>{{this.name}}</div>
  </div>
  <br><br>
  {{/each}}

  {{/if}}

</div>
<br>
<a href="/profile">Back to Your Profile</a>