<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center" id="playlist-detail">
            <div class="d-flex align-items-center">
                <h2>{{playlist.name}}</h2>
                <h6><em>{{playlist.genre}}</em></h6>
            </div>
        </div>
    </div>
    <div id="track-detail" class="row">
        {{#each songs}}
        <div class="col-8 d-flex justify-content-between align-items-center">
            <p>{{name}}</p>
            <p class="artist"> Artista: {{artist_name}}<p>
                    <audio controls>
                        <source src="{{audio}}">
                    </audio>
                    <a href="{{audiodownload}}">Descargar</a>
        </div>
        {{/each}}
    </div>
    <br><br>
    <p id="back-link" onclick="window.history.back()">Volver a Profile</p>
</div>