<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h2>{{playlist.name}}</h2>
            <h6><em>{{playlist.genre}}</em></h6>
        </div>
    </div>
    <div>
        {{#each songs}}
        <div class="col-6">
            <p>Track: {{name}}</p>
            <p>Artist: {{artist_name}}<p>
                    <p>Duration: {{duration}}</p>
                    <audio controls>
                        <source src="{{audio}}">
                    </audio>
                    <a href="{{audiodownload}}">Descargar</a>
        </div>
        {{/each}}
    </div>
    <br>
    <a href="/profile">Back to Your Profile</a>
</div>